@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
}

body{
	background: beige;
	font-size: 14px;
}

.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: auto;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.container-logo{
	display: flex;
	align-items: center;
}

.container-logo i{
	color: green;
	font-size: 80px;
	background-color: write;
	border-radius: 100%;
	margin-right: 20px;
}

nav ul{
	display: flex;
	list-style: none;
}

nav ul li{
	margin: 0 20px;
}

nav ul li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover{
	color: lawngreen;
}

.busqueda{
	background: write;
	padding: 10px;
	border-radius: 50px;
}

.busqueda i{
	margin-left: 10px;
}

.busqueda input{
	border: none;
	outline: none;
	border-radius: 50px;
}

.informacion{
	margin-top: 50px;
}

.fila{
	display: flex;
}

.fila.col{
	width: 33%;
}

.fila.col h2{
	font-size: 50px;
	line-height: 50%;
	margin-bottom: 30px;
}

.fila.col p{
	color: #696969;
	max-width: 300px;
	line-height: 25px;
	margin-bottom: 30px;
}

.foto img{
	width: 500px;
	height: 500px;
}

.foto{
	align-items: center;
	padding: 50px;
	margin: 0 300px;
}

#descripcion{
	text-align: center;
	margin: 20px;
	font-size: 16px;
}

#nombre{
	text-align: center;
	padding: 10px;
}

iframe{
	align-content: center;
	margin: 0 100px;
	padding: 100px;
}

.form-div{
	margin-left: 350px;
	background-color: rgb(0, 0, 0);
	width: 40%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	color: white;
	padding: 15px;
}

.form-div h3{
	font-size: 24px;
	padding: 20px 0;
}

.form-div p{
	font-size: 18px;
	padding: 20px 0;
	text-align: center;
}

.formulario{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

input{
	width: 100%;
	height: 35px;
	margin: 5px 0;
	outline: none;
	font-size: 14px;
	padding-left: 5px;
}

textarea{
	width: 100%;
	height: 80px;
	margin: 5px 0;
	outline: none;
	resize: none;
	font-size: 14px;
	padding-left: 5px;
}

.submit{
	width: 30%;
	height: 45px;
	margin: 30px 0;
	margin-left: 150px;
	background-color: orange;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
}


